BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
DATABASE_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_ISSUER=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=
ADMIN_ID=
OPENAI_API_KEY=